
## <summary>policy for chellit</summary>


########################################
## <summary>
##	Transition to chellit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`chellit_domtrans',`
	gen_require(`
		type chellit_t, chellit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, chellit_exec_t, chellit_t)
')


########################################
## <summary>
##	Execute chellit server in the chellit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chellit_initrc_domtrans',`
	gen_require(`
		type chellit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, chellit_initrc_exec_t)
')


########################################
## <summary>
##	Search chellit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chellit_search_lib',`
	gen_require(`
		type chellit_var_lib_t;
	')

	allow $1 chellit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read chellit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chellit_read_lib_files',`
	gen_require(`
		type chellit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, chellit_var_lib_t, chellit_var_lib_t)
')

########################################
## <summary>
##	Manage chellit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chellit_manage_lib_files',`
	gen_require(`
		type chellit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, chellit_var_lib_t, chellit_var_lib_t)
')

########################################
## <summary>
##	Manage chellit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chellit_manage_lib_dirs',`
	gen_require(`
		type chellit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, chellit_var_lib_t, chellit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a chellit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`chellit_admin',`
	gen_require(`
		type chellit_t;
		type chellit_initrc_exec_t;
		type chellit_var_lib_t;
	')

	allow $1 chellit_t:process { ptrace signal_perms };
	ps_process_pattern($1, chellit_t)

	chellit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 chellit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, chellit_var_lib_t)

')

